<section class="steps">
    <div class="title-column">
        <h1> Implementación rápida, uso intuitivo y respaldo total </h1>
    </div>
    <div class="steps-img-container">
        <div class="relative" style="" >
            <span class="contenedorimg">
                <img  [src]="icon.Customer1" alt="" class="steps-img" style="">
            </span>
        </div>
        <div class="relative" style="" >
            <span class="contenedorimg">
                <img  [src]="icon.Customer2" alt="" class="steps-img" style="">
            </span>
        </div>
        <div class="relative" style="" >
            <span class="contenedorimg">
                <img  [src]="icon.Customer3" alt="" class="steps-img" style="">
            </span>
        </div>
        <div class="relative" style="" >
            <span class="contenedorimg">
                <img  [src]="icon.Customer4" alt="" class="steps-img" style="">
            </span>
        </div>
        
        




    </div>



</section>
