<app-menu></app-menu>
<router-outlet></router-outlet>

<!-- <div class="column" style="width: 100%; padding: 40px; justify-content: center; align-items: center; " >
  <div style="padding-top: 10px;  display: flex; justify-content: center; align-items:center; max-width: 100%; margin: 0 auto;">
    <input #nombreInput  placeholder="Nombre" class=" ft16 borderLight gray-10" style="height: 35px;  width: 50%; border-radius:20px; padding-left: 15px; ">
  </div>
  <div style="padding-top: 10px;  display: flex; justify-content: center; align-items:center; max-width: 100%; margin: 0 auto;">
    <input #apellidoInput placeholder="Apellido" class=" ft16 borderLight gray-10" style =" height: 35px;  width: 50%;  border-radius:20px;  padding-left: 15px; ">
  </div>
  <div style="padding-top: 10px;  display: flex; justify-content: center; align-items:center; max-width: 100%; margin: 0 auto;">
    <input #edadInput type="number" min="0" placeholder="Edad" class=" ft16 borderLight gray-10" style= "height: 35px; width: 50%;  border-radius:20px;  padding-left: 15px; ">
  </div>
  <div style="padding-top: 10px;  display: flex; justify-content: center; align-items:center; max-width: 100%; margin: 0 auto;">
    <input #correoInput   placeholder="Correo" class=" ft16 borderLight gray-10" style="height: 35px; width: 50%;  border-radius:20px;  padding-left: 15px; ">
  </div>
  <div style="padding: 20px; text-align: center;">
    <button (click)="guardarDatos(nombreInput.value, apellidoInput.value, edadInput.value, correoInput.value)" style="background-color: rgb(66, 126, 216); height: 35px; width: 100px; border-radius: 20px; cursor: pointer;" class="borderLight  button1 ft14 gray-1">
      Enviar
    </button>

  </div>
  
</div> -->