<div class="banner">
    <div class="banner-content" style=" padding: 80px 30px ;">
      <h1>
        <span  class="blue-text">Inteligencia Artificial</span> <br>
        <span  class="white-text">al servicio de tu mantenimiento</span> 
      </h1>

      <p>Prevén averías en tus máquinas y olvídate de los tiempos de inactividad gracias al mejor sistema predictivo del mercado.</p>
      <a href="#" class="btn btn-primary">Comienza ahora</a>
      <a href="#" class="btn blue-text">ROI de hasta 18x </a>
    </div>
    <div class="banner-image">
      <img src="ruta/a/la/imagen.jpg" alt="Imagen">
    </div>
  </div>
<div class="bannerempresas">
    <div class="logos-container">
        <img  [src]="icon.Tractian" class="logo" style="height: 24px;">
        <img  [src]="icon.Tractian" class="logo" style="height: 24px;">
        <img  [src]="icon.Tractian" class="logo" style="height: 24px;">
        <img  [src]="icon.Tractian" class="logo" style="height: 24px;">
        <img  [src]="icon.Tractian" class="logo" style="height: 24px;">
        <img  [src]="icon.Tractian" class="logo" style="height: 24px;">

    </div>
</div>
<section class="video-section">
    <div class="video-container">
      <!-- Primer video -->
      <div class="video-item">
        <video class="video" loop>
          <source src="video1.mp4" type="video/mp4">
        </video>
      </div>
      <!-- Segundo video -->
      <div class="video-item">
        <video class="video" loop>
          <source src="video2.mp4" type="video/mp4">
        </video>
      </div>
      <!-- Tercer video -->
      <div class="video-item">
        <video class="video" loop>
          <source src="video3.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </section>
  